<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
        .jumbotron {
            padding: 20px;
            margin-bottom: 20px;
            background-color: #9ce22b;

        }
    </style>


</head>
<body>
{% include 'inc/navbar.html' %}

<div class="jumbotron">
    {% include 'inc/messages.html' %}
    {% block content %}

    {% endblock %}
</div>

</body>
</html>